body {
	background-color: #ddd;
}

h1 {
	text-align: center;
}

canvas {
	background-color: white;
	display: block;
	margin: 3em auto;
}

#correct, #wrong {
	font-size: 30px;
}

#correct {
	background-color: green;
}

#wrong {
	background-color: red;
}